body, html {
  height: 100%;
  margin: 0;
  font-family: Roboto;
}

div {
}

#p1 {
  /* Image for first parallax */
  background-image: url("assets/para/back1.jpeg"); 
  height: 85%
}

#p2 {
  /* Image for second parallax */
  background-image: url("assets/para/back2.jpeg");
}

.parallax {

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  height: 15%;
}

#title, h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: justify;
}

#portfolio {
  padding: 1em;
}

.card {
  padding: 1em;
  background-color: white;
}