body, html {
  height: 100%;
  margin: 0;
}

div {
  padding: 1em;
}

.parallax {
  /* The image used */
  background-image: url("back1.jpeg");

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}